{
    email mail@danielpereira.dev
}

*.pereiras.eu {
    tls {
        dns hetzner {
            token {env.HETZNER_DNS_TOKEN}
        }
    }

    @nextcloud host cloud.pereiras.eu
    handle @nextcloud {
        reverse_proxy localhost:11000
    }
}
