{
    email mail@danielpereira.dev
}

*.pereiras.eu {
    tls {
        dns hetzner {env.HETZNER_DNS_TOKEN}
        propagation_delay 30s
    }

    @nextcloud host cloud.pereiras.eu
    handle @nextcloud {
        reverse_proxy localhost:11000
    }
}
