{
    email mail@danielpereira.dev
}

*.yourdomain.com {
    tls {
        dns hetzner {
            auth_api_token {env.HETZNER_DNS_TOKEN}
        }
    }

    @nextcloud host cloud.pereiras.eu
    handle @nextcloud {
        reverse_proxy localhost:11000
    }
}
