WATCHTOWER_EMAIL_FROM=watchtower@yourdomain.com
WATCHTOWER_EMAIL_TO=you@yourdomain.com
WATCHTOWER_EMAIL_SERVER=mail.yourdomain.com
WATCHTOWER_EMAIL_USER=watchtower@yourdomain.com
WATCHTOWER_EMAIL_PASSWORD=yourpassword
